body {
    /*  CORPO DO SITE (body)   */
    margin: 0px;
    /*  MARGIN = DISTÂNCIA (lados, cima e baixo) ENTRE O CABEÇALHO E AS MARGENS DA TELA   */
    background-color: rgb(19, 199, 206);
    /*  COR DE FUNDO DO CORPO   */
}

.container {
    /*   NOME DA CLASSE CRIADA NO HEADER   */
    width: 100%;
    /*   WIDTH = ALTURA  */
    padding: 10px 10px;
    /*   limita a distância do cabeçalho (10 pixels cima e baixo) e (10 pixels dos lados) */
}

.cabeçalho {
    /*   CABEÇALHO (header) DO SITE  */
    height: 120px;
    /*   height = altura  */
    background-color: black;
}

#img-logo {
    /*   imagem (logo) colocada no header   */
    width: 150px;
    /*   width = largura  */
    height: 120px;
    /*   height = altura  */
    /*   px = pixels, exemplo: 120 pixels */
}

#nome-logo {
    /*   título do site colocado no header  */
    color: rgb(255, 255, 255);
    /*   cor da fonte   */
    font-size: 80pt;
}

.body-container {
    min-height: 80vh;
    /*   altura mínima do rodapé  */
}

footer {
    height: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 14pt;
    text-align: center;
}