body {
    /*  CORPO DO SITE (body)   */
    margin: 0px;
    /*  MARGEM = DISTÂNCIA (lados, cima e baixo) ENTRE O CABEÇALHO E AS MARGENS DA TELA   */
    background-color: rgb(19, 199, 206);
    /*  COR DE FUNDO DO CORPO   */
}

.container {
    /*   NOME DA CLASSE CRIADA NO HEADER   */
    width: 100%;
    /*   WIDTH = ALTURA  */
    padding: 10px 10px;
    /*   limita a distância do cabeçalho (10 pixels cima e baixo) e (10 pixels dos lados) */
}

.cabeçalho {
    /*   CABEÇALHO (header) DO SITE  */
    height: 120px;
    background-color: black;
}

#img-logo {
    width: 150px;
    height: 120px;
}

#nome-logo {
    color: rgb(255, 255, 255);
    font-size: 80pt;
}

.body-container {
    min-height: 80vh;
}

footer {
    height: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 14pt;
    text-align: center;
}